<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>  
   	<!-- mybatis Dao -->
	 <!-- <bean id="myBatisDao" class="com.lvmama.vst.comm.mybatis.MyBatisDao" /> --> 
	 <!--  <bean id="roleDao" class="com.lvmama.vst.back.category.dao.RoleDao" />   -->
</beans>  